.sidebar-container {
  border: 1px solid lavender;
  width: 18%;
  height: 20%;
  border-radius: 5px;
  /* margin-bottom: 20%; */
  /* margin-top: 20%; */
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 5%;
  font-size: 20px;
  background-color: lavenderblush;
  color: #d63384;
  box-shadow: 10px 10px 20px gray;
}
